[Unit]
Description=Quilibrium Exporter Service
After=network.target

[Service]
Type=Simple
ExecStart=/<PATH_TO_VENV>/venv/bin/python3 /<PATH_TO_EXPORTER>/quilibrium_exporter.py
Restart=always

[Install]
WantedBy=multi-user.target